html{font-family:'Noto Serif KR', serif;}
body{margin: 0;}
	p,h1+,h2 {margin: 0; padding:0; line-height: 1.8;  font-family: 'Noto Serif KR', serif;}

	p{font-size: 16px; }
	h2{margin-top:0px; margin-bottom: 40px; font-size: 40px; font-weight: bold; }
	h1{ font-size: 50px;font-weight: bold; font-family: 'Song Myung', serif; }
	
	a{display: inline-block;
		 text-align: center;
		width: 50px; height: 50px; }

	img{width:800; display: block; margin: auto; padding-bottom: 0px;}
		.raw{width: 1000px;
				display: flex; padding:0px 0px;
				margin-top: 10PX; margin-bottom: 10PX;}
		.row{width: 800px;
				display: flex; padding:0px 0px;
				margin-top: 10PX; margin-bottom: 10PX;}
		.wrap{width: 60%; margin: auto; padding-left: 400px; padding-right: : 400px; }
		.wrap2{width: 1000px; margin: auto; padding-left: 300px; padding-right: : 300px; }
		.blue{background: #0f4c81; text-align: left;  width: 800px;}
		.item1{background:url('../img/16-11.jpg');
		background-size:40% auto;
		background-position: 220px 0px;
		background-attachment: fixed;
		text-align: center; }

		.item2{background:url('../img/16-22.jpg');
		background-size:40% auto;
		background-position: 100px 0px;
		background-attachment: fixed;
		text-align: center; }

		.item3{background:url('../img/002.png');background-size:100%; width:800px; text-align: left; }

		.backgradient1{width:800px; height: 300px; background: linear-gradient(to top,#0f4c81 ,white ) }
		.backgradient2{width:800px; height: 300px; background: linear-gradient( to top,white ,#0f4c81 ) }

		.col-1{width:800px; margin:0px 0px;}
		.col-2{width:390px; margin:0px 0px;}
		.col-3{width:530px; margin-right:10px;}
		.col-6{width:530px; margin-left:10px;}
		.col-4{width:260px; margin:0px 0px; }
		.col-5{width:500px; margin:0px 0px; padding: 150px; text-align: center;}
		.col-7{width:445px; margin:5px 5px;}
		.col-8{width:545px; margin:5px 5px;  }
		.col-9{width:1000px; margin:0px 0px;  padding-right:300px; padding-left:300px; display: flex; padding:0px 0px;
				margin-top: 10PX; margin-bottom: 10PX;}


		.col-4 h2{column-span: all; writing-mode: vertical-lr; height: 140px; padding-left: 10px; padding-top: 10px; }
		



		.mouseover:hover{color:white; background: #0f4c81;transition: all 0.3s }
		.mouseover2:hover{color:white; background: #96aabb;transition: all 0.3s }